*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: #191919;
}

#cruzadinha{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content:left;
    overflow-x: hidden;
}

#gridCruzadinha{
    width: 45%;
    padding-top: 10px;
}

#perguntas{
    width: 40%;
    height: 96vh;
    margin-right: 50px;
    margin-top: 10px;
    padding: 20px;
    overflow-y: scroll;
}

#perguntas::-webkit-scrollbar{
    width: 10px;
}

#perguntas::-webkit-scrollbar-track {
    background: #814592;
    border-radius: 20px;
  }

#perguntas::-webkit-scrollbar-thumb {
    background-color: #191919;
    border-radius: 20px;
    border: 3px solid #4e0063;
}

#perguntas div{
    width: 100%;
    margin-bottom: 10px;
    background-color: #4e0063;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

#perguntas button{
    padding: 8px 14px 8px 14px;
    background-color: #b666cc;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#gridCruzadinha .display{
    width: 34px;
    height: 34px;
    margin-bottom: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

#gridCruzadinha tr{
    height: 34px;
}

#gridCruzadinha .resposta{
    display: none;
}

.correto{
    background-color: rgb(97, 253, 152);
    border: 1px solid rgb(0, 193, 61);
    color: rgb(0, 99, 44);
}

.destacado{
    transition: all 0.2s;
    border: 2px solid #800085;
    box-shadow: inset 0px 0px 4px 1px #b100b8;
}